<div class="clr-row">
  <div class="clr-col-9">
    <app-activity-card [cardHeader]="'Obtain Raw Materials'" [activityType] = "'raw'"></app-activity-card>
  </div>
</div>

<div class="clr-row">
  <div class="clr-col-9">
    <app-activity-card [cardHeader]="'Refine Materials'" [activityType] = "'refine'"></app-activity-card>
  </div>
</div>

<!-- <button type="button" (click)="itemService.incrementItem(900, 60000)">Cheat</button>
<button type="button" (click)="controlService.navigate('shop')">Cheat Nav</button> -->