<div class="content-container">
  <nav class="sidenav">
    <section class="sidenav-content">
      <section class="nav-group">
        <input id="tabexample2" type="checkbox">
        <label for="tabexample2">Rob</label>
        <ul class="nav-list">
          <li><a class="nav-link" routerLink="/rob/ckeditor" routerLinkActive="active" >Create Your Own PDF</a></li>
        </ul>
      </section>
    </section>
  </nav>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>