<div class="clr-row">
  <div class="clr-col-4">
    <div class="clr-row">
      <div class="clr-col-12">
        <div class="card">
          <div class="card-header">Obtain Raw Materials</div>
          <div class="card-block">
            <div class="card-text">
              <div *ngFor="let activity of basicActivities">
                <button
                  [@slide]="{value: activity.active ? 'right' : 'left', params: {activityColor: activity.color}}"
                  type="button"
                  class="btn"
                  (click)="toggleBasicActivity(activity.id)">
                  <span *ngIf="activity.active">Stop</span>
                  <span *ngIf="!activity.active">Start</span>
                  {{activity.name}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-col-12">
        <div class="card">
          <div class="card-header">Refine Materials</div>
          <div class="card-block">
            <div class="card-text">
              <div *ngFor="let activity of advancedActivities">
                <button
                  [@slide]="{value: activity.active ? 'right' : 'left', params: {activityColor: activity.color}}"
                  type="button"
                  class="btn"
                  (click)="toggleAdvancedActivity(activity.id)">
                  <span *ngIf="activity.active">Stop</span>
                  <span *ngIf="!activity.active">Start</span>
                  {{activity.name}}
                </button>
                <span *ngIf="!activity.active">{{activity.decrements}} X {{activity.decrementsAmount}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clr-col-6">
    <div class="clr-row">
      <div class="clr-col-12">
        <div class="card">
          <div class="card-header">Your Activity</div>
          <div class="card-block">
            <div class="card-text">
              <div *ngFor="let activity of basicActivities">
                <div class="card-title" *ngIf="activity.active">{{activity.name}} {{activity.produces}}</div>
                <div *ngIf="activity.active" style="width: 150px; height: 20px; border: 1px solid gray;">
                  <div
                    [@loadBasic]="{value: animStateBasic, params: {actionTime: activity.actionTime}}"
                    (@loadBasic.done)="onAnimationEvent($event, activity, 'basic')"
                    [ngStyle]="{'background-color': activity.color, 'height': '100%'}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-col-12">
        <div class="card">
          <div class="card-header">Assistant Activity</div>
          <div class="card-block">
            <div class="card-text">
              <div *ngFor="let activity of advancedActivities">
                <div class="card-title" *ngIf="activity.active">{{activity.name}} {{activity.produces}}</div>
                <div *ngIf="activity.active" style="width: 150px; height: 20px; border: 1px solid gray;">
                  <div
                    [@loadAdvanced]="{value: animStateAdvanced, params: {actionTime: activity.actionTime}}"
                    (@loadAdvanced.start)="advancedAnimationStart($event, activity)"
                    (@loadAdvanced.done)="onAnimationEvent($event, activity, 'advanced')"
                    [ngStyle]="{'background-color': activity.color, 'height': '100%'}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clr-col-2">
    <div class="card">
      <div class="card-header">
        Inventory
      </div>
      <div class="card-block">
        <div class="card-text">
          <div *ngFor="let item of inventory">
            <div><clr-icon attr.shape="{{item.icon}}" shape="" size="24" [ngStyle]="{'color': item.color}"></clr-icon>: {{item.amount}}</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
