<div class="card my-card">
  <div class="content-container">
      <div class="content-area">
        <app-home *ngIf="navigation === 'home'"></app-home>
      </div>
      <nav class="sidenav">
        <section class="nav-group">
          <ul class="nav-list">
            <li><a class="nav-link" (click)="setNav('home')">Home</a></li>
            <li><a class="nav-link" (click)="showLog()">Intro</a></li>
          </ul>
        </section>
      </nav>
  </div>
  <div
    class="alert alert-info"
    role="alert"
    [ngStyle]="{'width': '500px', 'position': 'absolute', 'top': messagesTop, 'left': messagesLeft}"
    *ngIf="logVisible">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-text">
          <p *ngFor="let message of messages; let i = index" [className]="'message-'+i">- {{message.text}}</p>
        </div>
        <div class="alert-actions">
          <div *ngIf="advanceStorylineVisible" class="alert-action dropdown bottom-right open">
            <button class="dropdown-toggle">
              <span (click)="advanceStoryline()">Next</span>
            </button>
            <clr-icon shape="caret down" (click)="advanceDropdownOpen = !advanceDropdownOpen"></clr-icon>
            <div class="dropdown-menu" *ngIf="advanceDropdownOpen">
              <a class="dropdown-item" (click)="skipIntro()">Skip Introduction</a>
            </div>
          </div>
        </div>
        <button *ngIf="!advanceStorylineVisible" class="dropdown-toggle">
          <span (click)="skipIntro()">Close</span>
        </button>
      </div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="hideLog()" style="padding-right: 20px;">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
  </div>
</div>
<clr-icon
  [@pulse]="{value: 'bounced', params: {top: alertTop, left: alertLeft, bounceLeft: alertLeftBounce}}"
  (@pulse.done)="delayHideAlert()"
  *ngIf="highlightArrow"
  shape="arrow"
  size="24"
  class="highlightArrow"
  [ngStyle]="{'left': alertLeft, 'top': alertTop}"
>
</clr-icon>
