<section class="sidenav-content">
  <clr-accordion [clrAccordionMultiPanel]="true">
    <clr-accordion-panel [(clrAccordionPanelOpen)]="activitiesOpen" [clrAccordionPanelDisabled]="activitiesDisabled">
      <clr-accordion-title>Activities</clr-accordion-title>
      <ng-container *ngIf="basicActivities">
        <app-activity-slider
        *ngFor="let activity of basicActivities"
        [activityId]="activity.id"
        [type]="'basic'"></app-activity-slider>
      </ng-container>
    </clr-accordion-panel>

    <clr-accordion-panel [(clrAccordionPanelOpen)]="activitiesOpen" [clrAccordionPanelDisabled]="true">
      <clr-accordion-title>Inventory</clr-accordion-title>
      <div *ngIf="coinsItem"><clr-icon attr.shape="{{coinsItem.icon}}" shape="" size="24" [ngStyle]="{'color': coinsItem.color}"></clr-icon>: {{formatCurrency(coinsItem.amount)}}</div>
      <div *ngFor="let item of inventory">
        <ng-container *ngIf="item.visible">
          <div><clr-icon attr.shape="{{item.icon}}" shape="" size="24" [ngStyle]="{'color': item.color}"></clr-icon>: {{item.amount}}</div>
        </ng-container>
      </div>
    </clr-accordion-panel>

    <clr-accordion-panel [(clrAccordionPanelOpen)]="activitiesOpen" [clrAccordionPanelDisabled]="true">
      <clr-accordion-title>Demigod Stats</clr-accordion-title>
      <div id="mcpDiv">
        <span *ngIf="mcpItem">
          <clr-icon attr.shape="{{mcpItem.icon}}" size="18" [ngStyle]="{'color': mcpItem.color, 'margin-bottom': '6px'}"></clr-icon>
          {{mcpItem.name}} : {{mcpItem.amount}}
        </span>
      </div>
      <div id="humanDiv" *ngIf="humanItem">
        <span>
          <clr-icon attr.shape="{{humanItem.icon}}" size="18" [ngStyle]="{'color': humanItem.color, 'margin-bottom': '6px'}"></clr-icon>
          {{humanItem.name}} : {{humanItem.amount}}
        </span>
      </div>
    </clr-accordion-panel>
  </clr-accordion>
</section>
