<div class="clr-row">
  <div class="clr-col-9">
    <div>
      Here, you can use your hard earned Mind Control Powers to enslave another human to your cause!<br /><br />
      You will lose all:
      <ul>
        <li>Improvements from the Shop</li>
        <li>Improvements from the Exchange</li>
        <li>Mind Control Power</li>
      </ul><br />
      You will keep:
      <ul>
        <li>Humans</li>
      </ul>
    </div>
    <app-improvement-card [improvementType]="'humans'"></app-improvement-card>
  </div>
  <div class="clr-col-3"></div>
</div>
